* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.items {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
}

.items .item {
	margin: 15px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.items .item .item-title {
	position: relative;
	font-size: 20px;
	padding-right: 80px;

	transition: all 0.4s ease;
}

.items .item .item-title::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	// background-image: url('/src/arrow-down-mint.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}

.items .item .item-subtitle {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}

.items .item.open .item-title {
	margin-bottom: 15px;
}

.items .item.open .item-title::after {
	transform: translateY(-50%) rotate(180deg);
}

.items .item.open .item-subtitle {
	max-height: 1000px;
	opacity: 1;
}